@use '~styles/helpers' as *;

.MovieCard {
  @include pageSettings;
  margin-top: 15px;

  .Container {
    @include containerSettings(1200px);
  
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.85);

    .posterContainer {
      padding: 0;
      .poster {
        width: 100%;
        border-radius: 3px 0 0 3px;
    
        @media(max-width: 575px) {
          border-radius: 0 0 3px 3px;
        }
      }
    }
  }
}

.metaDataContainer {
  padding: 25px;
  color: $lightGrey;

  @media (max-width: 575px) {
    padding: 15px;
  }

  p {
    font-size: 1rem;
  }

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: $lato;
    font-size: 2em;
  }

  .tagline {
    display: block;
    padding-bottom: 0.25em;
    color: $limeGreen;
    font-size: 1.2em;
    font-family: $oswald;
  }

  .additionalDetails {
    margin: 25px 0 20px;
    font-family: $oswald;

    .genreList {
      display: block;
      color: $limeGreen;
      font-size: 1.2em;
    }

    .productionList {
      display: block;
      margin-bottom: 20px;
    }

    .releaseDetails {
      div {
        &:nth-child(n+3) {
          margin-top: 15px;
        }
      }
    }
  }

  .metaData {
    display: block;
    color: $limeGreen;
    font-size: 1.2em;
    line-height: 1em;
  }
}