//usefull properties for every project
* {
  // size of an element is: content + padding + border 
  box-sizing: border-box;
}

body {
  background: black;
  font-family: $lato;
  font-size: 18px;
  
  //usefull properties for every project
  margin: 0;
  line-height: 1.6;
}