body {
    background: black;
    font-family: $lato;
    font-size: 18px;
}

.BgImage{
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
  // left: 50%;
  // transform: translate(-50%, 0) ;
  // width: 110vw;
  z-index:-2;
}

.BgGradient{
  position: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 90%);
  width: 100vw;
  height: 100vh;
  z-index:-1;
}


// below 1050px
@media only screen and (max-width: 1050px) {
  .BgImage{
    width: 150vw;
  }
}

// below 750px
@media only screen and (max-width: 750px) {
  .BgImage{
    width: 230vw;
  }
}
// below 500px
@media only screen and (max-width: 500px) {
  .BgImage{
    width: 320vw;
  }
}

// below 500px
@media only screen and (max-width: 400px) {
  .BgImage{
    width: 500vw;
  }
}

#app {
    animation: fadein ease-out 1.4s;
}

// ====== Swich animation ======
.Swich-enter {
  opacity: 0;
}
.Swich-enter.Swich-enter-active {
  opacity: 1;
  transition: opacity 1000ms linear 1000ms;
}

.Swich-exit {
  opacity: 1;
}
.Swich-exit.Swich-exit-active {
  opacity: 0;
  transition: opacity 1000ms linear;
}
.Swich-exit-done {
  opacity: 0;
}