body {
    background: black;
    font-family: $lato;
    font-size: 18px;
}

.BgImage{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 50%) scale(2.1);
  z-index:-2;
}

.BgGradient{
  position: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 90%);
  width: 100vw;
  height: 100vh;
  z-index:-1;
}


// below 1050px
@media only screen and (max-width: 1050px) {
  .BgImage{
    transform: translate(-50%, 75%) scale(3);
  }
}

// below 750px
@media only screen and (max-width: 750px) {
  .BgImage{
    transform: translate(0%, 150%) scale(5);
  }
}
// below 500px
@media only screen and (max-width: 500px) {
  .BgImage{
    transform: translate(0%, 275%) scale(8);
  }
}


#app {
    animation: fadein ease-out 1.4s;
}

// ====== Swich animation ======
.Swich-enter {
  opacity: 0;
}
.Swich-enter.Swich-enter-active {
  opacity: 1;
  transition: opacity 1000ms linear 1000ms;
}

.Swich-exit {
  opacity: 1;
}
.Swich-exit.Swich-exit-active {
  opacity: 0;
  transition: opacity 1000ms linear;
}
.Swich-exit-done {
  opacity: 0;
}