/* body */
body {
    background: black;
    background-repeat: no-repeat;
    font-family: $lato;
    font-size: 18px;
    background-size: cover;
}

// outer-container for background image
// it is in public/index.html
#outer-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 90%);
    background-attachment: fixed;
    margin:0;
    height: 100vh; // for full browser height and no gradient break
}

@media only screen and (max-width: 575px) {
  body{
    background-size: 2500px;
  }
  #outer-container{
    height: 1300px;
  }
}

@media only screen and (max-height: 300px) {
  #outer-container{
    // adjust dark gradient for mobile keybord
    background-image: linear-gradient(rgba(0, 0, 0, 0.85) 33%, rgba(0, 0, 0, 0.75) 45%, rgba(0, 0, 0, 0.35) 85%);
  }
}


#app {
    animation: fadein ease-out 1.4s;
}