.searchBarResMobile{
  .fadeIn {
    opacity: 1;
  }
}

.searchbar_container {
  color: $lightGrey;
  background-color: $suggestionsLayoutBackground;
  list-style-type: none;
  padding: 0;
  border-radius: 10px;
  border: 2px solid $limeGreenDarker;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  $posterRaious: 10px;

  .searchbar_div{
    display: flex;

    .smallCard{
      padding: 1%;
      
      div {
        border-radius: $posterRaious;
        background-color: rgb(29,29,29);
        transition: all .5s ease-in-out;

        //setts equal column height
        display: flex;
        flex-direction: column;
        height: 100%;

        &:hover {
          transform: scale(1.03);
          transition: all .3s ease-in-out;
        }
    
        img {
          width: 100%;
          border-radius: $posterRaious $posterRaious 0px 0px;
          max-height: 160px;
          object-fit: cover;
        }
          p {
            margin: auto 0;
            color: $limeGreen;
            padding: 3px;
            font-family: $lato;
            text-align: center;
          }
    
        @media (max-width: 475px) {
          font-size: 0.7em;
        }
      }
    }
  }

  .searchbar_li {
    padding: 5px;
    text-align: center;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;

    .showMoreBtn {
      width: 76.5%;
      padding: 2px;
      margin: 0; // suggestion list spacing
      background-color: $limeGreenDark;
      border-radius: $posterRaious;
      
      &:hover, &.active, &:focus {
        cursor: pointer;
        background-color: $limeGreenBlack;
      }
    }

    .showMoreClose{
      width: 22%;
      padding: 2px;
      margin: 0; // suggestion list spacing
      background-color: $darkGrey;
      border-radius: 10px;
      &:hover, &.active, &:focus {
        cursor: pointer;
        background-color: $blackGrey;
      }
    }
  }
}


.noResult{
  height: 2rem; 
  margin-top: 0.3rem;

  &:hover{
    user-select: none;
  }
}