.searchBarResMobile{
  .fadeIn {
    opacity: 1;
  }
}

.showMoreClose{
  width: 22%;
  padding: 2px;
  margin: 0; // suggestion list spacing
  background-color: $darkGrey;
  border-radius: 10px;
  text-align: center;
  
  &:hover, &.active, &:focus {
    cursor: pointer;
    background-color: $blackGrey;
  }
}

.searchbar_container {
  @include searchbarCommonUl;
  background-color: $suggestionsLayoutBackground;
  border: 2px solid $limeGreenDarker;
  border-radius: $posterRaious;
  
  //moves search bar over white line
  margin: 0 -7px;
  margin-top: -2px;

  .searchbar_div{
    display: flex;
    
    .smallCard{
      padding: calc(min(15px, 1%));
      
      div {
        @include equalColumnHeight;
        @include smallCardDiv;
        background-color: rgb(29,29,29);
        

        &:hover {
          @include smallCardHoverAnimation;
        }
    
        img {
          border-radius: $posterRaious $posterRaious 0px 0px;

          // maintains aspect ratio
          max-width:100%;
          height: auto;
        }
          p {
            @include hideToLongTitle;
            @include smallCardParagraphs;
            padding: 3px;
          }
    
        @media (max-width: 475px) {
          font-size: 0.75em;
        }
      }
    }
  }

  .searchbar_li {
    padding: 5px;
    text-align: center;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;

    .showMoreBtn {
      width: 76.5%;
      padding: 2px;
      margin: 0; // suggestion list spacing
      background-color: $limeGreenDark;
      border-radius: $posterRaious;
      
      &:hover, &.active, &:focus {
        cursor: pointer;
        background-color: $limeGreenBlack;
      }
    }
  }
}