.movieSearchBar {
  @include pageSettings;
  z-index: 10;

  .Container{
    @include containerSettings(1200px);
    margin-top: 12px; //important

    .logo {
      max-width: 140px;
      margin: 0 auto;
      margin-bottom: 25px;
      display: block;
      &:hover{
        cursor: pointer;
      }
      @media (min-width: 575px) {
        display: inline-block;
        margin-bottom: 0;
      }
    }


    input {
      color: $lightGrey;
      margin-top: 5px;
      padding-left: 10px;
      padding-bottom: 5px;
      width: 100%; 
      background: none;
      border: none;
      border-bottom: solid 1px white;
    
      &:focus{
        outline-width: 0;
      }
    }
  }
}