.MovieCard {
  position: absolute;
  
  // center positioning
  width: 100%;
  margin: 0 auto;
  margin-top: 95px;
  padding: 0 7%;
}

.Card {
  margin: 0 auto;
  max-width: 1200px;

  border-radius: 5px;
  background: rgba(0, 0, 0, 0.85);
}

/* poster */
.poster-container {
  .poster {
    width: 100%;
    border-radius: 0 0 5px 5px;
  }
}

p {
  font-size: 1rem;
}

/* meta data */
.meta-data-container {
  padding: 15px;
  color: $lightGrey;

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: $lato;
    font-size: 2em;
  }

  .additional-details {
    margin: 25px 0 20px;
    font-family: $oswald;

    .genre-list {
      display: block;
      color: $limeGreen;
      font-size: 1.2em;
    }

    .production-list {
      display: block;
      margin-bottom: 20px;
    }

    .release-details {
      div {
        &:nth-child(n+3) {
          margin-top: 15px;
        }
      }
    }
  }

  .meta-data {
    display: block;
    color: $limeGreen;
    font-size: 1.35em;
    line-height: 1em;
  }
}

.tagline {
  display: block;
  padding-bottom: 0.25em;
  color: $limeGreen;
  font-size: 1.2em;
  font-family: $oswald;
}

/* Breakpoints */

// below 575px
@media only screen and (max-width: 575px) {
  .MovieCard {
    margin-top: 150px;
  }
}

// sm up - over 575px
@include media-breakpoint-up(sm) {
  .meta-data-container {
    padding: 25px;
  }
}

// over middle size in bootstrap
@include media-breakpoint-up(md) {
  .poster-container {
    .poster {
      border-radius: 3px 0 0 3px;
    }
  }
  .meta-data-container {
    padding: 25px;
    h1 {
      font-size: 2em;
    }
  }
}