.searchBarResMobile{
  .fadeIn {
    opacity: 1;
  }
}

.searchbar_div {
  color: $lightGrey;
  background-color: $transparentBackground;
  list-style-type: none;
  padding: 0;
  border-radius: 0px 0px 5px 5px;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;

  .smallCard{
    padding: 1%;
    
    div {
      $posterRaious:  10px;
      border-radius: $posterRaious;
      background: rgba(0, 0, 0, 0.85);
      transition: all .5s ease-in-out;
  
      &:hover {
        transform: scale(1.03);
        transition: all .3s ease-in-out;
      }
  
      img {
        width: 100%;
        border-radius: $posterRaious $posterRaious 0px 0px;
        align-items: center;
      }
  
      p {
        color: $limeGreen;
        padding: 8px;
        font-weight: bold;
        font-family: $lato;
        font-size: 0.9em;
        text-align: center;
      }
  
      @media (max-width: 475px) {
        font-size: 0.7em;
      }
    }
  }

  .searchbar_li {
    padding: 3px 20px;
    
    p {
      margin: 0; // suggestion list spacing
      align-self: center;
      font-size: 1.4rem;
    }
  
    &:hover, &.active, &:focus {
      cursor: pointer;
      color: $darkGrey;
      background-color: $limeGreen;
      border-radius: 5px;
  
      span{
        color: $darkGrey !important;
      }
    }
  }
}


.showMore {
  text-align: center;
}

.noResult{
  height: 2rem; 
  margin-top: 0.3rem;

  &:hover{
    user-select: none;
  }
}