/* card */

.MovieCard {
  position: absolute;
  margin-top: 70px;
  max-width: 1200px;

  // // 3 properties: left, transform, width centers starPage images
  left: 50%;
  transform: translate(-50%); 
  width: 90vw;

  // margin-left: auto;
  // margin-right: auto;
  // padding-left: 7%;
  // padding-right: 7%;
}

.Card {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.85);
  margin: 0;
  margin-top: 30px;
}

/* poster */
.poster-container {
  .poster {
    width: 100%;
    // max-width: 350px;
    border-radius: 0 0 3px 3px;
  }
}

p {
  font-size: 1rem;
}

/* meta data */
.meta-data-container {
  padding: 15px;
  color: $lightGrey;

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: $lato;
    font-size: 2em;
  }

  .additional-details {
    margin: 25px 0 20px;
    font-family: $oswald;

    .genre-list {
      display: block;
      color: $limeGreen;
      font-size: 1.2em;
    }

    .production-list {
      display: block;
      margin-bottom: 20px;
    }

    .release-details {
      div {
        &:nth-child(n+3) {
          margin-top: 15px;
        }
      }
    }
  }

  .meta-data {
    display: block;
    color: $limeGreen;
    font-size: 1.35em;
    line-height: 1em;
  }
}

.tagline {
  display: block;
  padding-bottom: 0.25em;
  color: $limeGreen;
  font-size: 1.2em;
  font-family: $oswald;
}

/* Breakpoints */

// below 575px
@media only screen and (max-width: 575px) {
  .MovieCard {
    margin-top: 110px;
  }
}

// sm up - over 575px
@include media-breakpoint-up(sm) {
  .meta-data-container {
    padding: 25px;
  }
}

// md up
@include media-breakpoint-up(md) {
  .poster-container {
    .poster {
      border-radius: 3px 0 0 3px;
    }
  }
  .meta-data-container {
    padding: 25px;
    h1 {
      font-size: 2em;
    }
  }
}

// ====== movieCard fadeanim ation ======

.fadeMovieCard-enter {
  opacity: 0;
  position: absolute;
}
.fadeMovieCard-enter.fadeMovieCard-enter-active {
  opacity: 1;
  transition: opacity 1000ms linear 1000ms;
}

.fadeMovieCard-exit {
  opacity: 1;
}
.fadeMovieCard-exit.fadeMovieCard-exit-active {
  opacity: 0;
  transition: opacity 1000ms linear;
}
.fadeMovieCard-exit-done {
  opacity: 0;
}