.noResultContainer{
  .searchbar_li {
    text-align: center;
    display: flex;
    justify-content: space-between;

    .noResult{
      width: 82%;
      text-align: center;
      height: 2rem; 
      padding: 2px;
      margin: 0; // suggestion list spacing

      &:hover{
        user-select: none;
      }
    }

    .noResultClose{
      width: 18%;
      padding: 2px;
      margin: 0; // suggestion list spacing
      background-color: $darkGrey;
      border-radius: 10px;
      text-align: center;
      
      &:hover, &.active, &:focus {
        cursor: pointer;
        background-color: $blackGrey;
      }
    }
  }
}