// container
.search-container {
  margin: 20px 0;
}

// suggestions text
.tt-suggestion {
  padding: 3px 20px;
  // font-size: 18px;
  line-height: 24px;
  p {
    margin: 5px 0; // suggestion list spacing
  }

  &.active, &:focus{
    color: $darkGrey;
    background-color: $limeGreen;
    border-radius: 4px;
  }

  &:hover {
    cursor: pointer;
  }
}