.startPageSearchbar {
  @include displayFixedAndCenter;
  margin: 20px 0;
  z-index: 2;
  background-color: $transparentBackground;
  border-radius: 5px;

  @media (max-width: 575px) {
    margin: 0;
  }
  
  input{
    @include searchbar;
    width: 99%; 
    transform: translate(0.5%);
    border-bottom: solid 1px $limeGreen;
    height: 40px;
  }
}