.StartPageCards{
  @include pageSettings;

  .Container{
    @include containerSettings(1400px);
  
    .title{
      margin-top: 80px;
      margin-bottom: 8px;
      color: $white;
      font-size: large;
      text-transform: uppercase;
    
      @media (max-width: 575px){
        margin-top: 55px;
      }
    }
  
    .smallCard{
      padding: 1%;
      
      div {
        $posterRaious:  10px;
        border-radius: $posterRaious;
        background: rgba(0, 0, 0, 0.85);
        transition: all .5s ease-in-out;
    
        &:hover {
          transform: scale(1.03);
          transition: all .3s ease-in-out;
        }
    
        img {
          width: 100%;
          border-radius: $posterRaious $posterRaious 0px 0px;
          align-items: center;
        }
    
        p {
          color: $limeGreen;
          padding: 8px;
          font-weight: bold;
          font-family: $lato;
          font-size: 0.9em;
          text-align: center;
        }
    
        @media (max-width: 475px) {
          font-size: 0.7em;
        }
      }
    }
  }
}


.linkStyle{
  text-decoration:none !important;
}