.StartPageCardTransition{
  position: absolute;
  width: 100%;

  // center positioning
  margin: 0 auto;
  padding: 0 7%;
}

.StartPageCard{
  // centers content
  margin: 0 auto;
  max-width: 1400px; // max with that all posters take on page
}

.Popular{
  margin-top: 80px;
  margin-bottom: 8px;
  color: rgb(230, 230, 230);
  font-size: large;
  text-transform: uppercase;
}


.cardContainer{
  padding: 1%;
}

.cardFS{
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.85);
  transition: all .5s ease-in-out;
  &:hover {
    transform: scale(1.03);
    transition: all .3s ease-in-out;
  }
}

.posterImage{
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  align-items: center;
}

.FS-title{
  color: $limeGreen;
  padding: 8px;
  font-weight: bold;
  font-family: $lato;
  font-size: 0.9em;
  text-align: center;
}

.linkStyle{
  text-decoration:none !important;
  color: white;
}



@media only screen and (max-width: 575px) {
  .Popular{
    margin-top: 55px;
  }
}


@media (max-width: 474px) {
  .FS-title{
    font-size: 0.7em;
  }
}