.startPageSearchbar {
  @include displayFixedAndCenter;
  margin: 20px 0;
  z-index: 2;
  background-color: $transparentBackground;
  border-radius: 5px;

  @media (max-width: 575px) {
    margin: 0;
  }
  
  form{
    display: flex;
    border-bottom: solid 1px $limeGreen;
    width: 99%; 
    transform: translate(0.5%);

    input{
      @include searchbar;
      width: 97%;
      height: 40px;
    }

    img{
      max-width: 10px;
      filter: invert(50%);
      margin: 0 10px;
      cursor: pointer;
    }
  }
}