.startPage{
  margin-top: 70px;
}

.cardContainer{
  padding: 1%;
}

.cardFS{
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.85);
  transition: all .5s ease-in-out;
  &:hover {
    transform: scale(1.03);
    transition: all .3s ease-in-out;
  }
}

.posterImage{
  width: 100%;
  border-radius: 7px;
  align-items: center;
}

.FS-title{
  color: $limeGreen;
  padding: 8px;
  font-weight: bold;
  font-family: $lato;
  font-size: 0.9em;
  text-align: center;
}

.linkStyle{
  text-decoration:none !important;
  color: white;
}

@media only screen and (max-width: 575px) {
  .startPage{
    margin-top: 50px;
  }
}


@media (max-width: 474px) {
  .FS-title{
    font-size: 0.7em;
  }
}