@mixin pageSettings() {
  position: absolute;
  width: 100%;

  // center positioning
  margin: 0 auto;
  padding: 0 7%;
}

@mixin containerSettings($maxWidth) {
  // centers content
  margin: 0 auto;
  max-width: $maxWidth; // max with that all posters take on page
}

@mixin displayFixedAndCenter {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin searchbar {
  outline: none;
  color: $lightGrey;
  background: none;
  border: none;
}

@mixin searchbarCommonUl {
  color: $lightGrey;
  list-style-type: none;
  padding: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

@mixin hideToLongTitle {
  // hides if title is to long
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin smallCardParagraphs {
  margin: auto 0;
  color: $limeGreen;
  font-family: $lato;
  text-align: center;
}

@mixin smallCardHoverAnimation {
  transform: scale(1.03);
  transition: all .3s ease-in-out;
}

@mixin smallCardDiv {
  transition: all .5s ease-in-out;
  border-radius: $posterRaious;
}

@mixin equalColumnHeight {
  //setts equal column height
  display: flex;
  flex-direction: column;
  height: 100%;
}

@mixin ResultsPcHighlight {
  &:hover, &:active, &:focus, &.active {
    cursor: pointer;
    color: $darkGrey;
    background-color: $limeGreen;
    border-radius: 5px;

    span{
      color: $darkGrey !important;
    }
  }
}