@use "react-widgets/scss/styles.scss" with (
  $components: (
    // 'Listbox',
    'DropdownList',
    // 'Combobox',
    // 'Multiselect',
    // 'DatePicker',
    // 'Calendar',
    // 'TimeInput',
    // 'NumberPicker'
  ),
  $widget-font-size: 16px,
  $input-height: 2em,
);


$fontColor: rgb(240, 240, 240);
$backgroundColor: rgb(30, 30, 30);

// disabled items
.rw-list-option.rw-state-disabled{
  color: gray;
  cursor:inherit;
}

.rw-widget-container{
  border: none;
  background: $backgroundColor;
  color: $fontColor;

  &:focus {
    outline: none;
}
}

.rw-popup{
  // hides original outside border that made problems
  background: transparent;
  border-radius: 0;
  border: none!important;
}

.rw-list {
  // new border
  border-radius: 10px;
  background: $backgroundColor;
  border: 1px solid rgb(70, 70, 70);
}

.rw-list-option{
  color: $fontColor;
  &:hover{
    background: rgb(50, 50, 50);
    border: none;
  }
}

.rw-state-focus
.rw-state-selected{
  background: #008f4c;
  border: none;
}

.rw-btn {
  filter: invert(80%);  // brighter color
}

.rw-dropdown-list-input{
  pointer-events: none;
}