// colours
$white: rgb(240, 240, 240);
$lightGrey: #fafafa;
$midGrey: #ccc;
$darkGrey: #343434;
$blackGrey: rgb(20, 20, 20);
$limeGreen: #00FC87;
$limeGreenDarker: #00a85a;
$limeGreenDark: #008f4c;
$limeGreenBlack: #005c31;
$transparentBackground: rgba(7, 7, 7, 0.95);
$suggestionsLayoutBackground: rgb(17, 17, 17);

//const
$posterRaious: 10px;

// typography
$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;
$Ionicons:'Ionicons';