.StartPageCards{
  @include pageSettings;

  .Container{
    @include containerSettings(1400px);
  
    .title{
      margin: 0;
      margin-top: min(15px, 1%);
      color: $white;
      font-size: large;
      text-transform: uppercase;
    }
  }
}