@use '~styles/helpers' as *;

.formContainer{
  margin: 5vh auto;
  max-width: 400px;

  color: $white;
  background: $transparentFormBackground;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);

  h2 {
    text-align: center;
  }
}

.formFields {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}


.btnGreen{
  margin-top: 10px;
}

.forgotBtn{
  margin-top: -4px;
  margin-bottom: -12px;
  color: #b6b6b6 !important;
  text-decoration: none !important;
  &:hover{
    color: $white !important;
  }
}