@use '~styles/helpers' as *;

.Profile{
  @include pageSettings;
  max-width: 1400px;
  color: $white;

  .userData{
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

    background: $transparentFormBackground;
    margin: 2em;
    // border: 1px solid gray;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
  }
}