.Sidebar{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  align-items: center;
  left: 0;
  font-size: 24px;

  transition: 0.3s ease-in-out;
  opacity: 0;
  top: -100%;

  .closeIconContainer{
    display: flex;

    .closeIcon {
      margin-left: auto;
      width: 70px;
      cursor: pointer;
      filter: invert(90%);
      padding: 25px;
    }  
  }
  
  .sidebarWrapper{
    display: flex;
    flex-direction: column;

    .sidebarMenu {
      color: $white;
      text-align: center;
      padding: 0;
      margin: 0;
    
      .sidebarLink {
        margin: 1em 0;
        text-decoration: none;
        list-style: none;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          color: #01bf71;
          transition: 0.2s ease-in-out;
        }
      }
    }
    
    
    .sidebarBtnWrap {
      display: flex;
      justify-content: center;
      
      .sidebarBtnLink{
        border-radius: 50px;
        background: #01bf71;
        white-space: nowrap;
        padding: 14px 40px;
        color: #010606;
        outline: none;
        cursor: pointer;
        text-decoration: none;
        transition: 0.2s ease-in-out;
        &:hover {
          background: #fff;
          color: #010606;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
}

.openSidebar {
  opacity: 1;
  top: 0;
}