@use '~styles/helpers' as *;

.ProfileMovieCard {
  @include equalColumnHeight;
  border-radius: $posterRaious;
  background: rgba(10, 10, 10, 0.9);
  font-size: 0.9rem;

  img {
    border-radius: $posterRaious $posterRaious 0px 0px;

    // maintains aspect ratio
    max-width:100%;
    height: auto;
  }
}

.title {
  @include hideToLongTitle;
  @include smallCardParagraphs;

  padding: 5px;
  padding-bottom: 3px;
  font-weight: bold;
  text-align: center;

  @media (max-width: 475px) {
    font-size: 0.85rem;
  }
}

.rating{
  z-index: 2;
  font-size: 15px;
  font-weight: bold;
  text-align: center;

  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: -35px;
  background-color: rgba(10, 10, 10, 0.9);
  color: $white;
  padding: 0;
  padding-top: 3px;
  border-radius: 10px;
  width: 29px;
  height: 30px;
}