.list {
  color: rgb(240, 240, 240);
  background-color: rgba(0, 0, 0, 0.8);
  list-style-type: none;
  padding: 0;
  margin-right: 5%;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

.Image{
  /* max-width: 110px; */
}

.animate {
  opacity: 1;
  pointer-events: auto;
}

.noResult{
  position: absolute;
  height: 2rem; 
  margin-top: 0.3rem;
  width: 100%;
  align-self: center;
  font-size: 1.1rem;
}
.noResult:hover{
  user-select: none;
}

.textSugestion {
  align-self: center;
  font-size: 1.4rem;
}
.showMore {
  text-align: center;
  border-radius: 5px;
}

.myform {
  color: rgb(240, 240, 240);
  padding-left: 10px;
  padding-bottom: 5px;
}
.myform:focus {
  color: rgb(240, 240, 240);
  outline-width: 0;
}
.tt-suggestion:hover {
  color: #343434;
  background-color: #00FC87;
  border-radius: 4px;
}
.tt-suggestion:hover span{
  color: #343434 !important;
}

.searchInside{
  padding-left: 0;
}
.myRow {
  margin-right: 50px;
}

@media only screen and (max-width: 600px) {
  .searchInside{
    padding: 0 1rem !important;
  }
}