.NavSearchbar {
  width: 85%;
  z-index: 2;
  border-radius: 5px;

  form{
    display: flex;
    height: 98%;
    

    @media (min-width: 1024px) {
      border-bottom: solid 1px $limeGreen;
    }
    
    input{
      @include searchbar;
      width: 97%;
        padding-left: 10px
    }

    img{
      max-width: 10px;
      filter: invert(50%);
      margin: 0 10px;
      cursor: pointer;
    }
  }
}