.startPageSearchbar {
  width: 100%;
  z-index: 2;
  border-radius: 5px;
  margin-right: 15px;

  form{
    display: flex;
    border-bottom: solid 1px $limeGreen;
    height: 98%;

    input{
      @include searchbar;
      width: 97%;
    }

    img{
      max-width: 10px;
      filter: invert(50%);
      margin: 0 10px;
      cursor: pointer;
    }
  }
}